<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Package Name="OpenNetMeter" 
		   Manufacturer="Ashfaaq18" 
		   Version="1.0.0.0" 
		   UpgradeCode="22b9d969-70c5-4092-b496-36ee53caa9e1">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

	<MediaTemplate EmbedCab="yes"/>

	<netfx:DotNetCompatibilityCheck Id="netCoreStatus64"
	Property="NETCORESTATUS" RollForward="latestMajor"
	RuntimeType="core" Version="8.0.1" Platform="x64" />
	<Launch Condition="Installed OR NETCORESTATUS=&quot;0&quot;"
		Message="[ProductName] requires Microsoft .NET 8.0 Runtime." />
	  
	<!-- UI stuff-->
	<UIRef Id="InstallerUI" />

	<!-- components to install -->
	<Feature Id="Main">
		<ComponentGroupRef Id="ProductComponents" />
	</Feature>
	  
  </Package>

	<!-- Files to install -->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="InstallFolder">
			<Files Include="..\OpenNetMeter\bin\Debug\net8.0-windows\**">
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\*.pdb" />
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\de\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\es\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\fr\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\it\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\ja\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\pl\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\ru\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\sv\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\tr\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\zh-CN\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\zh-Hant\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\x86\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\arm64\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\runtimes\linux-x64\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\runtimes\osx-x64\**"/>
				<Exclude Files="..\OpenNetMeter\bin\Debug\net8.0-windows\runtimes\win-x86\**"/>
			</Files>
		</ComponentGroup>
	</Fragment>

	<!-- location to be installed which is referred above -->
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="InstallFolder" Name="OpenNetMeter"/>
		</StandardDirectory>
	</Fragment>
	
</Wix>
