<!-- Import global variables -->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Package Language="1033"
		 Name="$(ProductName)" Version="$(ProductVersion)" Manufacturer="$(Manufacturer)"
		 UpgradeCode="c8795db6-2426-4f40-a615-671f26fcaf3a" InstallerVersion="200">

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Property Id="DESKTOP_SHORTCUT" Value="1"/>
		
		<MediaTemplate EmbedCab="yes"/>

		<netfx:DotNetCompatibilityCheck Id="netCoreStatus64"
		Property="NETCORESTATUS" RollForward="latestMajor"
		RuntimeType="core" Version="8.0.1" Platform="x64" />
			<Launch Condition="Installed OR NETCORESTATUS=&quot;0&quot;"
				Message="[ProductName] requires Microsoft .NET 8.0 Runtime." />
		
		<!-- UI stuff-->
		<UIRef Id="WixUIFeatureTree" />

		<!-- components to install -->
		<Feature Id="ProductFeature" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="CleanupComponents" />
			<ComponentGroupRef Id="ShortcutComponents" />
		</Feature>
		
	</Package>
	
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="InstallFolder" Name="$(ProductName)"/>
		</StandardDirectory>
		
		<ComponentGroup Id="ProductComponents" Directory="InstallFolder">
			<!-- Files to install -->
			<Files Include="$(SolutionDir)$(ProductName)\bin\$(Configuration)\$(TargetFramework)\**" />
		</ComponentGroup>
	</Fragment>


	<Fragment>
		<StandardDirectory Id="LocalAppDataFolder">
			<Directory Id="ProductLocalDataFolder" Name="$(ProductName)"/>
		</StandardDirectory>

		<ComponentGroup Id="CleanupComponents" Directory="ProductLocalDataFolder">
			<Component Id="CleanupAppData" Guid="*" Condition="NOT UPGRADINGPRODUCTCODE">
				<RegistryValue Root="HKCU" Key="Software\$(Manufacturer)\$(ProductName)\Cleanup" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
				<!-- runtime created files to remove -->
				<RemoveFile Id="RemoveSettingsJson" Name="settings.json" On="uninstall" />
				<RemoveFile Id="RemoveDatabase" Name="OpenNetMeter.sqlite" On="uninstall" />

				<RemoveFolder Id="RemoveAppDataFolder" On="uninstall" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<!-- Declare the standard desktop folder so MSI knows where to place the shortcut -->
		<StandardDirectory Id="DesktopFolder" />

		<ComponentGroup Id="ShortcutComponents" Directory="DesktopFolder">
			<Component Id="CmpDesktopShortcut" Guid="*" Condition="DESKTOP_SHORTCUT=&quot;1&quot;">
				<Shortcut Id="AppDesktopShortcut"
						  Name="$(ProductName)"
						  Target="[InstallFolder]$(ProductName).exe"
						  WorkingDirectory="InstallFolder" />

				<!-- Key path so this component is well-formed -->
				<RegistryValue Root="HKCU"
							   Key="Software\$(Manufacturer)\$(ProductName)"
							   Name="DesktopShortcutInstalled"
							   Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
	
</Wix>