<!-- Import global variables -->
<?include Variables.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
	<Package Language="1033"
		 Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)"
		 UpgradeCode="c8795db6-2426-4f40-a615-671f26fcaf3a" InstallerVersion="200">

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<MediaTemplate EmbedCab="yes"/>

		<netfx:DotNetCompatibilityCheck Id="netCoreStatus64"
		Property="NETCORESTATUS" RollForward="latestMajor"
		RuntimeType="core" Version="8.0.1" Platform="x64" />
			<Launch Condition="Installed OR NETCORESTATUS=&quot;0&quot;"
				Message="[ProductName] requires Microsoft .NET 8.0 Runtime." />
		
		<!-- UI stuff-->
		<UIRef Id="WixUI_KargWareFeatureTree" />

		<!-- components to install -->
		<Feature Id="ProductFeature" Title="WixToolset_Tutorials.Msi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

	</Package>

	<!-- Files to install -->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="InstallFolder">
			<Component Id="ProductComponent">
				<File Source="$(SolutionDir)$(var.ProductName)\bin\$(var.Configuration)\$(var.TargetFramework)\OpenNetMeter.exe" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<!-- location to be installed which is referred above -->
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="InstallFolder" Name="$(var.ProductName)"/>
		</StandardDirectory>
	</Fragment>

</Wix>